:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.spinner {
  display: inline-block;
  width: 18px;
  aspect-ratio: 1/1;
  border: 2px solid lightcoral;
  border-top: 2px solid lawngreen;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* === FONTS PRESETS CLASSES ===*/

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
}
