:root {
  --neutral-900: #051513;
  --neutral-800: #4c5c59;
  --neutral-500: #899492;
  --neutral-400: #c0cfcc;
  --neutral-300: #dde9e7;
  --neutral-100: #e8f0ef;
  --neutral-0: #ffffff;
  --teal-700: #014745;
  --teal-800: #013c3b;
  --red-600: #fd4740;
  --red-800: #cb0a04;

  /*=== SPACINGS ===*/
  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /*=== MARGINS ===*/
  --mg-large: 2rem;
  --mg-m: 1rem;
}

:root[data-theme="dark"] {
  --neutral-900: #001414;
  --neutral-800: #001f1f;
  --neutral-600: #002e2d;
  --neutral-500: #004241;
  --neutral-400: #004746;
  --neutral-300: #00706e;
  --neutral-100: #b1b9b9;
  --neutral-0: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.spinner {
  display: inline-block;
  width: 18px;
  aspect-ratio: 1/1;
  border: 2px solid var(--neutral-800);
  border-top: 2px solid var(--neutral-100);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.flex {
  display: flex;
  align-items: center;
}

.btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}

.btn-2:hover {
  opacity: 0.7;
}

.btn-2 {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tp1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
}

.tp2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}

.tp2-semi-bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}

.tp3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
}

.tp3-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
}

.tp4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.tp4-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.tp5 {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0px;
}

h1,
h2,
h3,
h4,
p,
a,
strong {
  color: var(--neutral-900);
}

@media (max-width: 1024px) {
}

@media (max-width: 800px) {
  .tp1 {
    font-size: 20px;
    line-height: 120%;
  }

  .minimized {
    width: 40px;
    height: 40px;
  }
  .minimized p {
    display: none;
  }
  .minimized svg {
    margin-right: 0;
  }
}
