@import "./base.css";

#app {
  background-color: var(--neutral-300);
  min-height: 100svh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 300px auto;
  overflow-x: hidden;
}

.mx-width {
  padding-inline: 32px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 1024px) {
  .mx-width {
    padding-inline: 2rem;
  }
  #app {
  display: block;
}
}

@media (max-width: 800px) {
  .mx-width {
    padding-inline: 1rem;
  }
}
